@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  background: #f7f7f9;
  position: relative;
}

.background {
  background: #fff;
}

a {
  text-decoration: none;
}

.intro-section ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.navigation-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.flex {
  display: flex;
}

.NavBar {
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation-bar_hamburger {
  cursor: pointer;
  z-index: 5;
}

.intro-section::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url("../images/shapes.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro-section {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 96px 24px;
  z-index: 3;
}

.intro-section_title {
  color: #172b4d;
  width: 10ch;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.intro-section_title span {
  display: block;
  width: 10ch;
}

.intro-section p {
  margin: 12.8px 0;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.intro-section_link {
  text-transform: uppercase;
}

.intro-section_icons {
  margin: 8px 0;
  align-items: center;
  justify-content: space-between;
  width: 176px;
}

.navigation-bar a {
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.card-sub-header li {
  margin-right: 32px;
  color: #6b778c;
}

.card-languages li {
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
  list-style: none;
}

.card img {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.about-skills-label img {
  transform: rotate(90deg);
}

.skills li a img {
  transition: transform 0.5s;
}

.skills img:hover {
  transform: scale(1.5);
}

.cards {
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  padding: 114px 24px;
  margin-top: 10rem;
}

.card-sub-header ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.card-description {
  color: #344563;
  padding-left: 10px;
}

.card-header h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  padding-top: 12px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 10px;
}

.card-sub-header p {
  color: #344563;
  width: 55px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0.5px;
  margin-inline-end: 0.5px;
  padding-left: 10px;
}

.card-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 4px 29px;
  padding: 1px;
  padding-left: 10px;
}

.card-button {
  padding-left: 10px;
}

.card-button .btn {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 135px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  border-radius: 8px;
  cursor: pointer;
}

.grid {
  display: grid;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn:hover {
  animation-name: btn-hover;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.btn:focus {
  background: #2230d2;
  color: #f9f9f9;
}

@keyframes btn-hover {
  100% {
    box-shadow: inset 176px 0 0 0 #6070ff, 0 8px 16px rgba(108, 116, 187, 0.24);
    color: #fff;
  }
}

@media (min-width: 375px) {
  .navigation-bar a:hover {
    color: #396df2;
    font-size: 17px;
  }

  #hidden-menu-background {
    display: none;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6070ff;
    mix-blend-mode: multiply;
    transition: opacity 0.5s ease-in-out;
  }

  #hidden-menu {
    display: none;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(6px);
    transition: opacity 0.5s ease-in-out;
  }

  #menu-options {
    list-style: none;
    flex-direction: column;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    gap: 40px;
    padding-left: 28px;
    padding-right: 38px;
  }

  #menu-options li a,
  #close-btn {
    color: #fff;
    opacity: 1;
  }

  #close-btn {
    max-width: 12px;
  }

  #close-btn-list {
    text-align: right;
  }

  .card-sub-header {
    align-items: center;
    column-gap: 4px;
    flex-direction: row;
    padding-top: 2px;
    flex-wrap: nowrap;
    width: 336px;
  }

  .card {
    margin: 50px 30px;
    padding: 24px 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    border-radius: 20px;
  }

  .input {
    width: 100%;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #cfd8dc;
    margin: 10px 0;
    height: 48px;
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .NavBar {
    padding: 24px 128px;
  }

  .navigation-bar {
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
    background: none;
    position: static;
    left: auto;
    transition: none;
    padding: 0;
    margin: 0 16px;
    margin-bottom: 0;
  }

  .navigation-bar_hamburger {
    display: none;
  }

  #hidden-menu,
  #hidden-menu-background {
    display: none;
  }

  .intro-section::before {
    background-image: url(../images/headline-background.svg);
    padding: 96px;
    border-bottom-left-radius: 128px;
    width: 100%;
    height: 916px;
    top: 1px;
  }

  .intro-section {
    padding-right: 100px;
    padding-left: 100px;
  }

  .intro-section_title span {
    width: 15ch;
  }

  .intro-section_link {
    margin: 11.2px 0;
  }

  .cards {
    padding-top: 260px;
    padding-bottom: 110px;
  }

  .card {
    max-width: 1104px;
    column-gap: 11px;
    padding: 2px;
  }

  .card-sub-header {
    align-items: center;
    column-gap: 32px;
    margin: 4px 0;
    flex-direction: row;
    padding-right: 0.5px;
    padding-top: 2px;
  }

  .card-header {
    padding: 16px;
  }

  .card img {
    width: 50%;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    flex-direction: row;
  }

  .card:nth-child(2),
  .card:nth-child(4) {
    flex-direction: row-reverse;
  }

  .new-container {
    margin-top: 219px;
  }

  /* Coding session */

  .modal-feature,
  .modal-feature ul {
    gap: 27px;
  }
  .project-name {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .modal-feature ul {
    list-style: initial;
  }

  .modal-feature li {
    list-style: initial;
    margin-right: 0;
  }

  .project-feature {
    color: #344563;
  }

  .project-background,
  .project-year {
    color: #7a869a;
    margin-right: 0;
  }

  .project-feature,
  .project-background,
  .project-year {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: rgba(96, 112, 255, 0.95);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    padding: 128px 32px;
    z-index: 3;
    margin-bottom: 40px;
  }

  .navigation-bar li a {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    transition: color 1s;
  }

  .navigation-bar li a:hover {
    color: #000;
  }

  .navigation-bar_hamburger {
    display: block;
  }
}

.about {
  padding: 7.125rem 1.5rem;
  border-top-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
}

.about-card h2 {
  width: 21rem;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
}

.about-card p {
  margin: 10px 0;
}

.about-card h3 {
  text-transform: uppercase;
  color: #7f8cff;
}

.skills {
  margin: 1.3rem 0 1rem;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}

.skills li a img:hover {
  transform: scale(1.5);
}

.about-skill-card {
  margin: 6px 0;
  padding: 24px 0;
}

.about-skills-label {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.about-skills-label h3 {
  height: 24px;
  left: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
}

.skills-bottom li {
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
  background: #f7f7f9;
}

.label-framework {
  border-bottom: 1px solid #dfe1e6;
}

.label-framework-title {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.label-framework-title h3 {
  height: 24px;
  left: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
}

.label-skill {
  border-bottom: 1px solid #dfe1e6;
}

.label-skill-title {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.label-skill-title h3 {
  height: 24px;
  left: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
}

.contact::before {
  content: "";
  position: absolute;
  background-color: #6070ff;
  background-image: url("../images/contact-form-shapes-mobile.svg");
  background-size: contain;
  background-position: right;
  background-origin: content-box;
  background-repeat: no-repeat;
  border-top-left-radius: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contact {
  position: relative;
  padding: 6.4375rem 1.5rem 1.5rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin: 10px 0;
  height: 48px;
  padding: 0 1rem;
}

.contact-container form li textarea {
  width: 100%;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 8px;
  padding: 1rem;
  resize: none;
}

.contact-btn {
  border-radius: 8px;
  width: 162px;
  height: 48px;
  padding: 12px;
  color: #6070ff;
  cursor: pointer;
  margin: 18px 0;
  background-color: #f7f7f9;
  border: 1px solid #fff;
}

.contact-title h2 {
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.contact-title p {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 0.8rem 0 2.8rem;
}

@media (min-width: 992px) {
  .about {
    padding: 6rem;
    flex-direction: row;
    column-gap: 37px;
    border-top-right-radius: 8rem;
  }

  .about-card {
    flex-basis: 25rem;
  }

  .about-skill-card {
    flex-basis: 25rem;
  }

  .skills-bottom {
    display: flex;
    column-gap: 12px;
  }

  .skills-bottom li {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 7.6rem;
  }

  .contact::before {
    background-image: url(../images/contact-form-background.svg);
    padding: 1rem;
    border-top-left-radius: 8rem;
  }

  .contact {
    padding: 6rem 8.875rem;
    background: #fff;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-container form li input,
  .contact-container form li textarea {
    max-width: 570px;
    font-size: 17px;
    line-height: 20px;
  }

  .contact-container form li:nth-child(4),
  .contact-container form li:nth-child(5) {
    text-align: center;
  }

  .contact p {
    font-size: 20px;
    line-height: 28px;
    max-width: 570px;
  }
}

@media (min-width: 1440px) {
  .about {
    padding: 7.125rem;
  }

  .intro-section {
    padding-right: 240px;
    padding-left: 240px;
  }

  .about-card {
    flex-basis: 37rem;
  }

  .about-skill-card {
    flex-basis: 38rem;
  }

  .contact {
    padding: 8.875rem;
    padding-bottom: 7.9rem;
  }

  #hidden-menu {
    display: none;
  }

  .contact-title h2 {
    font-size: 48px;
    line-height: 60px;
    color: #fff;
    text-align: center;
  }

  .contact::before {
    background-image: url(../images/contact-form-background.svg);
    padding: 3.5rem;
    border-top-left-radius: 8rem;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input,
  .contact-container form li textarea {
    width: 450px;
    font-size: 17px;
    line-height: 20px;
  }

  .contact-container form li:nth-child(4),
  .contact-container form li:nth-child(5) {
    text-align: center;
  }

  .contact p {
    font-size: 20px;
    line-height: 28px;
    max-width: 569px;
  }

  .contact-btn {
    border-radius: 8px;
    width: 162px;
    height: 48px;
    padding: 12px;
    color: #6070ff;
    cursor: pointer;
    margin: 18px 0;
    background-color: #f7f7f9;
    border: 1px solid #fff;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 1163px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: none;
  backdrop-filter: blur(6px); /* Add blur effect */
  padding: 0 142px;
  overflow:auto;
}

.modal {
  background-color: #fff;
  padding: 24px;
  border-radius: 14px;
  width: 80.13vw;
  box-shadow: 100vw 100vh;
  margin: 77px 0;
}

.modal-header {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  vertical-align: top;
}

.modal-header .project-name {
  margin: 0;
}

.modal-feature {
  margin-bottom: 20px;
}

.modal-feature .project-feature {
  margin: 0;
}

.modal-feature ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-image {
  width: 100%;
  max-height: 586px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}

.modal-dsc {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-dsc li {
  margin-bottom: 10px;
}

.modal-btn li {
  margin-right: 10px;
}

.closeModal {
  cursor: pointer;
  width: max(12px, 0.84vw);
  margin: 12px;
}

/* Additional styles for mobile responsiveness */

/* @media screen and (max-width: 767px) {
  .modal {
    top: 50%;
    max-height: 100vh;
  }
} */
