@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.container {
  background: #f7f7f9;
  position: relative;
}

.background {
  background: #fff;
}

a {
  text-decoration: none;
}

.intro-section ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.navigation-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.flex {
  display: flex;
}

.NavBar {
  padding: 16px 24px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navigation-bar_hamburger {
  cursor: pointer;
  z-index: 100;
}

.intro-section::before {
  content: "";
  position: absolute;
  background-color: #fff;
  background-image: url("../images/shapes.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-bottom-left-radius: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.intro-section {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 96px 24px;
  z-index: 10;
}

.intro-section_title {
  color: #172b4d;
  width: 10ch;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.intro-section_title span {
  display: block;
  width: 10ch;
}

.intro-section p {
  margin: 12.8px 0;
  color: #344563;
}

.intro-section_link {
  text-transform: uppercase;
}

.intro-section_icons {
  margin: 8px 0;
  align-items: center;
  justify-content: space-between;
  width: 176px;
}

.navigation-bar a {
  transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.about {
  padding: 82px 24px;
  border-top-right-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 5ch;
}

.about-card p {
  margin: 10px 0;
  color: #344563;
}

.about-card ul {
  margin: 21px 0 16px;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
  padding-top: 17px;
  list-style: none;
  gap: 24px;
  padding-left: 7px;
}

.about .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.about-skill-card {
  margin: 6px 0;
  padding: 24px 0;
  list-style: none;
}

.card-sub-header li {
  margin-right: 32px;
  color: #6b778c;
}

.about-skill-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-languages li {
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
  list-style: none;
}

.about-skill-card ul li {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-skills-label {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.about-skills-label img {
  transform: rotate(90deg);
}

.about-skills > ul > li {
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  margin: 12px 0;
  padding: 9px 12px;
}

.label-framework {
  border-bottom: 1px solid #dfe1e6;
}

.label-framework-title {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.label-skill {
  border-bottom: 1px solid #dfe1e6;
}

.label-skill-title {
  align-items: center;
  justify-content: space-between;
  padding: 23px 40px 23px 0;
  cursor: pointer;
}

.card img {
  width: 100%;
}

.skills img {
  transition: transform 0.5s;
}

.skills img:hover {
  transform: scale(1.5);
}

@media (min-width: 375px) {
  .navigation-bar a:hover {
    color: #396df2;
    font-size: 17px;
  }

  .card-sub-header {
    align-items: center;
    column-gap: 28px;
    margin: 20px 0;
    flex-direction: row;
    padding: 0.5px;
    flex-wrap: nowrap;
    width: 336px;
  }

  .card {
    margin: 72px 63px;
    padding: 42px 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    border-radius: 20px;
  }
}

@media (min-width: 768px) {
  .NavBar {
    padding: 24px 128px;
  }

  .navigation-bar {
    display: flex;
    align-items: center;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
    background: none;
    position: static;
    left: auto;
    transition: none;
    padding: 0;
    margin: 0 16px;
    margin-bottom: 0;
  }

  .navigation-bar_hamburger {
    display: none;
  }

  .intro-section::before {
    background-image: url(../images/headline-background.svg);
    padding: 96px;
    border-bottom-left-radius: 128px;
  }

  .intro-section {
    padding: 160px;
    padding-right: 240px;
  }

  .intro-section_title span {
    width: 15ch;
  }

  .intro-section_link {
    margin: 11.2px 0;
  }

  .cards {
    padding: 160px;
  }

  .card {
    align-items: center;
    max-width: 1104px;
    column-gap: 46px;
    padding: 24px;
  }

  .card-header {
    padding: 16px;
  }

  .card img {
    width: 50%;
  }

  .card:nth-child(1),
  .card:nth-child(3) {
    flex-direction: row;
  }

  .card:nth-child(2),
  .card:nth-child(4) {
    flex-direction: row-reverse;
  }

  .about {
    padding: 6rem;
    flex-direction: row;
    column-gap: 37px;
    border-top-right-radius: 128px;
  }

  .about-card {
    flex-basis: 400px;
  }

  .about-skills ul {
    display: flex;
    column-gap: 12px;
  }

  .about-skills > ul > li {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 7.6rem;
  }

  .about-skill-card {
    flex-basis: 117px;
  }

  .about-card h2 {
    width: 327px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: rgba(96, 112, 255, 0.95);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    padding: 128px 32px;
    z-index: 50;
    margin-bottom: 40px;
  }

  .navigation-bar li a {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    color: #fff;
    transition: color 1s;
  }

  .navigation-bar li a:hover {
    color: #000;
  }

  .navigation-bar_hamburger {
    display: block;
  }
}

.cards {
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  padding: 114px 24px;
}

.card-sub-header {
  align-items: center;
  column-gap: 32px;
  margin: 20px 0;
  flex-direction: row;
  padding-right: 0.5px;
}

.card-sub-header ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

.card-description {
  color: #344563;
  padding-left: 10px;
}

.card-header h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  padding-top: 20px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-left: 10px;
}

.card-sub-header p {
  color: #344563;
  width: 55px;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 10px;
}

.card-languages {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 4px 29px;
  padding: 1px;
  padding-left: 10px;
}

.card-button {
  padding-left: 10px;
}

.card-button .btn {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 135px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  border-radius: 8px;
  cursor: pointer;
}

.about-button {
  padding-top: 15px;
}

.about-button .btn {
  width: 162px;
  height: 48px;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.grid {
  display: grid;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-card h3 {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.btn:hover {
  animation-name: btn-hover;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.btn:focus {
  background: #2230d2;
  color: #fff;
}

@keyframes btn-hover {
  100% {
    box-shadow: inset 176px 0 0 0 #6070ff, 0 8px 16px rgba(108, 116, 187, 0.24);
    color: #fff;
  }
}
